.wrapper {
    margin: 5px;
}

.face {
    margin: 30px;
    width: 75px;
    height: 75px;
    border: solid 2px black;
    background-color: yellow;
    border-radius: 50px;
}

.eye {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    /* allows round shape as width/height change */
    border-radius: 50%;
    z-index: 1;
    position: relative;
    background-color: white;
}

/* the offsets depend on the sizes of the eyes */
/* the divs remain block elements in relative mode*/
/* at 20px height, the right eye starts 20px down (below the first eye's total height*/
.left {
    left: 20px;
    top: 20px;
}

.right {
    left: 50px;
    top: -10px;
}

.mouth {
    width: 30px;
    height: 20px;
    border: solid 1px black;
    border-radius: 0 0 45px 45px;
    margin: 16px;
    position: relative;
    top: -1em;
    left: 1em;
    background-color: black;
    rotate: -10deg;
    overflow: hidden;
}

.pupil {
    width: 9px;
    height: 14px;
    border: solid 1px black;
    border-radius: 50%;
    position: relative;
    top: 1px;
    left: 10px;
    background-color: black;
}

.tongue {
    width: 20px;
    height: 10px;
    background-color: pink;
    position: relative;
    top: 10px;
    z-index: 1;
    border-radius: 20px
}
.tongue::after {
    content: "";
    rotate: -25deg;
    display:block;
    background-color: pink;
    width: 20px;
    height: 10px;
    position: relative;
    left: 5px;
    z-index: 1;
    border-radius: 20px
}

.right-moustache {
    width: 0;
    height: 0;
    position: relative;
    rotate: -10deg;
    top: -62px;
    left: 50px;
    border-bottom: 10px solid brown;
    border-right: 15px solid transparent;
}
.right-moustache::after {
    content:"";
    width: 25px;
    height: 15px;
    background-color: brown;
    display: block;
    position: relative;
    top:5px;
    border-radius: 0 10px;
}

.left-moustache {
    width: 0;
    height: 0;
    position: relative;
    rotate: -10deg;
    top: -70px;
    left: 34px;
    border-bottom: 10px solid brown;
    border-left: 15px solid transparent;
}

.left-moustache::after {
    content:"";
    width: 25px;
    height: 15px;
    background-color: brown;
    display: block;
    position: relative;
    top:3px;
    left: -25px;
    border-radius: 10px 0;
}
.hat {
    border:2px black solid;
    width: 100px;
    height: 20px;
    background-color:rgb(156, 104, 48);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 13px;
    position: relative;
    z-index: 1;
    rotate: -15deg;
    top: -125px;
    left: -22px;
}
.hat::before {
    content: "";
    display: block;
    position: relative;
    border: 2px solid black;
    width: 60px;
    height: 30px;
    background-color: rgb(156, 104, 48);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: -28px;
    left: 20px;
}

.badge {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 14px solid gold;
    position: relative;
    left: 50px;
    top: -50px;
}
.badge::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid gold;
    display: block;
    position: relative;
    left: -8px;
    top: -20px;
}